@import '../shared/styles.css';

.cards-container {
    display: inline-grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center !important;
    align-items: center !important;


    padding-top: 30px;
    padding-bottom: 30px;

    grid-row-gap: 100px;

    width: 60%;
    
}

@media(max-width:720px){
    .cards-container {
        width: 100%;
    }
  }

.card {
    background-color: transparent;
    border: none;
    text-align: center;
    padding: none;
    font-size: 100px;
}

.equationbox {
    margin-right: 20px
}

.checkbutton {
    margin-right: 10px;
    max-width: 150px;
}