<div class='large-break'></div>
<div class='flex-container vertical'>
    <div class="center">
        <div class='cards-container center'>
            <div *ngFor='let card of cards'>
                <div class="card center">
                    {{card}}
                </div>
            </div>
        </div>
    </div>
    

    <div class="medium-break"></div>

    <div class="flex-container vertical">
        <div class="center">
            <form #answer = "ngForm" (ngSubmit)="onSubmit(answer.value.value)">
                <input type="text" class="equationbox" name="value" placeholder="value" ngModel>
                <button mat-raised-button class="checkbutton" type="submit">Check</button>
            </form>
        </div>
        <div class="small-break"></div>
        <div class="center">
            <button mat-raised-button class="checkbutton" type="button" (click)=onShowAnswers()>Show Answers</button>
            <button mat-raised-button class="checkbutton" type="button" (click)=onNewGame()>New Game</button>
        </div>

        <div class="small-break"></div>

        <div class="center">
            {{message}}
        </div>

        <div class='flex-container vertical'>
            <div *ngFor='let ans of answers' class='center'>
                {{ans}}
            </div>
        </div>
        
    </div>
    
</div>
<div class='large-break'></div>