<section class='style3 p-h-10'>
    <div class='medium-break'></div>
    <h2>Conference Proceedings</h2>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <p class="paragraph-text m-b-10">
        Benjamin Hackl, Andrew Luo, Stephen Melczer, Éric Schost (2025).
        A SageMath Package for Analytic Combinatorics in Several Variables: Beyond the Smooth Case.
    </p>
    <div class="flex-container horizontal">
        <a class="hidden" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2504.09790">
            <button class='button link-button'>
                <div class="text">
                    ArXiV
                </div>
            </button>
        </a>
        <div style="width: 10px;"></div>
        <a class="hidden" target="_blank" rel="noopener noreferrer" href="https://www.mat.univie.ac.at/~slc/wpapers/FPSAC2025/159.pdf">
            <button class='button link-button'>
                <div class="text">
                    FPSAC
                </div>
            </button>
        </a>
    </div>
    <div class='small-break'></div>
    <p>
        Benjamin Hackl, Andrew Luo, Stephen Melczer, Jesse Selover, Elaine Wong (2023). 
        Rigorous Analytic Combinatorics in Several Variables in SageMath. 
        Séminaire Lotharingien de Combinatoire, Proceedings of FPSAC 2023, Volume 89B, Article 90, 12p.
    </p>
    <div class="flex-container horizontal">
        <a class="hidden" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2303.09603">
            <button class='button link-button'>
                <div class="text">
                    ArXiV
                </div>
            </button>
        </a>
        <div style="width: 10px;"></div>
        <a class="hidden" target="_blank" rel="noopener noreferrer" href="https://www.mat.univie.ac.at/~slc/wpapers/FPSAC2023/90.pdf">
            <button class='button link-button'>
                <div class="text">
                    FPSAC
                </div>
            </button>
        </a>
    </div>
    <div class='medium-break'></div>
</section>

<section class='style3 alt p-h-10'>
    <div class="medium-break"></div>
    <h2>Education</h2>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <h3>Doctor of Philosophy - Computer Science</h3>
    <div class="flex-container horizontal split">
        <p>
            University of Waterloo
        </p>
        <p>
            Jan. 2024 - Present
        </p>
    </div>
    <p>
        Research in Analytic Combinatorics and Symbolic Computation in the Cheriton School of Computer Science department. Supervised by 
        <a target="_blank" rel="noopener noreferrer" href="https://melczer.ca/">Stephen Melczer</a>
        and 
        <a target="_blank" rel="noopener noreferrer" href="https://cs.uwaterloo.ca/~eschost/">Eric Schost</a>.
    </p>

    <div class='small-break'></div>
    <h3>Bachelor of Mathematics - Co-operative Program</h3>
    <div class="flex-container horizontal split">
        <p>
            University of Waterloo
        </p>
        <p>
            Sept. 2018 - Apr. 2023
        </p>
    </div>
    <p>
        Triple majored in Computer Science, Pure Mathematics, and Combinatorics & Optimization. Dean's honour roll with a CAV of 95%.
    </p>
    <div class="medium-break"></div>
</section>

<section class='style3 p-h-10'>
    <div class="medium-break"></div>
    <h2>Scholarships and Awards</h2>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <table class="boxed-table" mat-table [dataSource]="scholarships">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let entry"> {{entry.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sponsor">
            <th mat-header-cell *matHeaderCellDef> Sponsor </th>
            <td mat-cell *matCellDef="let entry"> {{entry.sponsor}} </td>
        </ng-container>
    
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let entry"> {{entry.value}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let entry"> {{entry.year}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="scholarshipColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: scholarshipColumnsToDisplay"></tr>
    </table>
    <div class="medium-break"></div>
</section>

<section class='style3 alt p-h-10'>
    <div class="medium-break"></div>
    <div class="medium-break"></div>
    <h2>Graduate Courses</h2>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <div *ngFor='let term of gradTerms'>
        <table class="boxed-table" mat-table [dataSource]="courses[term]">
            <ng-container matColumnDef="courseCode">
                <th mat-header-cell *matHeaderCellDef> Course Code </th>
                <td mat-cell *matCellDef="let course"> {{course.code}} </td>
            </ng-container>

            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef> Course Name </th>
                <td mat-cell *matCellDef="let course"> {{course.name}} </td>
            </ng-container>

            <ng-container matColumnDef="courseInstructor">
                <th mat-header-cell *matHeaderCellDef> Instructor </th>
                <td mat-cell *matCellDef="let course"> {{course.instructor}} </td>
            </ng-container>

            <ng-container matColumnDef="term">
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let course"> {{course.year}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="gradCourseColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: gradCourseColumnsToDisplay"></tr>
        </table>
        <div class='small-break'></div>
        <div class='small-break'></div>
    </div>
    <div class="medium-break"></div>
</section>

<section class='style3 p-h-10'>
    <div class="medium-break"></div>
    <h2>Undergraduate Courses</h2>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <div *ngFor='let term of terms'>
        <!-- #docregion basic-panel -->
        <!-- #docregion hide-toggle -->
            <mat-expansion-panel hideToggle>
            <!-- #enddocregion hide-toggle -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{term}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{timeByTerm[term]}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="courses[term]">
                    <ng-container matColumnDef="courseCode">
                        <th mat-header-cell *matHeaderCellDef> Course Code </th>
                        <td mat-cell *matCellDef="let course"> {{course.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="courseName">
                        <th mat-header-cell *matHeaderCellDef> Course Name </th>
                        <td mat-cell *matCellDef="let course"> {{course.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="courseInstructor">
                        <th mat-header-cell *matHeaderCellDef> Instructor </th>
                        <td mat-cell *matCellDef="let course"> {{course.instructor}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="courseColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: courseColumnsToDisplay"></tr>
                </table>
            </mat-expansion-panel>
        <div class='small-break'></div>
        <div class='small-break'></div>
    </div>
    <div class="medium-break"></div>
</section>
<div class='medium-break'></div>
