@import '../shared/styles.css';

table {
    width: 100%;
    background-color: #00000007;
}

.mat-expansion-panel {
    width: 100%;
    background-color: #00000007;
    table {
        background-color: transparent;
    }
}

.mat-mdc-cell,
.mat-mdc-header-cell,
.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
    color: #ffffffe8;
}
  
.mat-column-courseInstructor {
    width: 20%;
}

.mat-column-courseCode {
    width: 20%;
    padding-right: 12px;
}

.boxed-table {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.mat-expansion-panel {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.link-button {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgba(12, 12, 12, 0.014);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;

    .text {
        height: 100%;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        z-index: 1;
        transition-duration: 0.3s;
        font-size: 1.04em;
    }
}