<div class='large-break'></div>

<div class='p-h-10'>
    <div class='title-text'>Conference Proceedings</div>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <div class="paragraph-text m-b-10">
        Benjamin Hackl, Andrew Luo, Stephen Melczer, Jesse Selover, Elaine Wong (2023). 
        Rigorous Analytic Combinatorics in Several Variables in SageMath. 
        Séminaire Lotharingien de Combinatoire, Proceedings of FPSAC 2023, Volume 89B, Article 90, 12p.
    </div>
    <div class="flex-container horizontal">
        <a target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2303.09603"><button class='button link-button'>ArXiV</button></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.mat.univie.ac.at/~slc/wpapers/FPSAC2023/90.pdf"><button class='button link-button'>FPSAC</button></a>
    </div>
</div>

<div class="medium-break"></div>
<div class='p-h-10'>
    <div class='title-text'>Education</div>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <div class='subtitle-text m-b-5'>Master of Mathematics - Thesis</div>
    <div class="flex-container horizontal split">
        <div class="paragraph-text m-b-10">
            University of Waterloo
        </div>
        <div class="paragraph-text m-b-10">
            Jan. 2024 - Present
        </div>
    </div>
    <div class="paragraph-text m-b-10">
        Research in Analytic Combinatorics and Symbolic Computation in the Cheriton School of Computer Science department. Supervised under 
        <a target="_blank" rel="noopener noreferrer" href="https://melczer.ca/">Stephen Melczer</a>
        and 
        <a target="_blank" rel="noopener noreferrer" href="https://cs.uwaterloo.ca/~eschost/">Eric Schost</a>.
    </div>

    <div class='small-break'></div>
    <div class='subtitle-text m-b-5'>Bachelor of Mathematics - Co-operative Program</div>
    <div class="flex-container horizontal split">
        <div class="paragraph-text m-b-10">
            University of Waterloo
        </div>
        <div class="paragraph-text m-b-10">
            Sept. 2018 - Apr. 2023
        </div>
    </div>
    <div class="paragraph-text m-b-10">
        Triple majored in Computer Science, Pure Mathematics, and Combinatorics & Optimization. Dean's honour roll with a CAV of 95%.
    </div>
</div>


<div class="medium-break"></div>
<div class='p-h-10'>
    <div class='title-text'>Scholarships and Awards</div>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <table class="boxed-table" mat-table [dataSource]="scholarships">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let entry"> {{entry.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="sponsor">
            <th mat-header-cell *matHeaderCellDef> Sponsor </th>
            <td mat-cell *matCellDef="let entry"> {{entry.sponsor}} </td>
        </ng-container>
    
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let entry"> {{entry.value}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let entry"> {{entry.year}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="scholarshipColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: scholarshipColumnsToDisplay"></tr>
    </table>
</div>

<div class="medium-break"></div>
<div class='p-h-10'>
    <div class='title-text'>Graduate Courses</div>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <div *ngFor='let term of gradTerms'>
        <table class="boxed-table" mat-table [dataSource]="courses[term]">
            <ng-container matColumnDef="courseCode">
                <th mat-header-cell *matHeaderCellDef> Course Code </th>
                <td mat-cell *matCellDef="let course"> {{course.code}} </td>
            </ng-container>

            <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef> Course Name </th>
                <td mat-cell *matCellDef="let course"> {{course.name}} </td>
            </ng-container>

            <ng-container matColumnDef="courseInstructor">
                <th mat-header-cell *matHeaderCellDef> Instructor </th>
                <td mat-cell *matCellDef="let course"> {{course.instructor}} </td>
            </ng-container>

            <ng-container matColumnDef="term">
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let course"> {{timeByTerm[term]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="gradCourseColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: gradCourseColumnsToDisplay"></tr>
        </table>
        <div class='small-break'></div>
        <div class='small-break'></div>
    </div>
</div>

<div class="medium-break"></div>
<div class='p-h-10'>
    <div class='title-text'>Undergraduate Courses</div>
    <hr class='line-break-light'>
    <div class='small-break'></div>
    <div *ngFor='let term of terms'>
        <mat-accordion>
        <!-- #docregion basic-panel -->
        <!-- #docregion hide-toggle -->
            <mat-expansion-panel hideToggle>
            <!-- #enddocregion hide-toggle -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{term}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{timeByTerm[term]}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="courses[term]">
                    <ng-container matColumnDef="courseCode">
                        <th mat-header-cell *matHeaderCellDef> Course Code </th>
                        <td mat-cell *matCellDef="let course"> {{course.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="courseName">
                        <th mat-header-cell *matHeaderCellDef> Course Name </th>
                        <td mat-cell *matCellDef="let course"> {{course.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="courseInstructor">
                        <th mat-header-cell *matHeaderCellDef> Instructor </th>
                        <td mat-cell *matCellDef="let course"> {{course.instructor}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="courseColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: courseColumnsToDisplay"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
        <div class='small-break'></div>
        <div class='small-break'></div>
    </div>
</div>
<div class='large-break'></div>