<div class="large-break"></div>

<div class='flex-container vertical dark p-h-10 fade-in'>
    <div class='medium-break'></div>
    <div>
        <div class='title-text'>To My Still As Beautiful, Kind, Caring, Sweet, and Still As Loving As Ever Nicole...</div>
        <hr class='line-break-light'>
    </div>
    <div class='small-break'></div>
        <p class='paragraph-text'>
        Happy 1 year anniversary!
      </p>

    <div class="small-break"></div>
    

    <p class='paragraph-text'>
        One year ago today (both of our today's at the time), I went to sleep with the biggest smile on my face. Because, while nothing is certain, 
        I really hoped I had found the one. I was restless as questions raced in my head - will
        you be accepting of my OCD, my odd sense of humour, my obession with math, etc, etc? Conversely will my attraction - I wasn't
        sure if I was in love at this point - to you last? I put these questions aside and fell asleep thinking about the best of these outcomes.
    </p>

    <div class="small-break"></div>
    
    <p class='paragraph-text'>
        One year from then, my love for you has not faded. In fact, it has in some ways, grown to be more complex and more mature. I love
        you not only because I think you look beautiful, have a very cute smile, and are a very kind and caring person. I love you not only
        because you look like a perfect person from the outside, but because of your imperfections and flaws on the inside and your
        willingness to open up to me. I love that you don't try to avoid conflict with me, but rather work through them. Most of all, however,
        I love you because you make me feel loved, you're always there for me (even if we can't be together in person), and you put up with
        my anxiety, pettiness, and insecurities. I know I said it a million times, but I really mean it. I feel really, really lucky to have
        you.
    </p>

    <div class="small-break"></div>
    
    <p class='paragraph-text'>
        Thinking back through my life, I have made many mistakes, done things I've regret, and experienced trauma. They say hindsight is 20/20,
        but even then, for most of my life, I could not stop myself from thinking "if only." If only I had seen a psychiatrist sooner, I would not
        be suffering from OCD as much as I did. If only I was more careful in that one math question, I could have been a national finalist.
        If only this and if only that. But, at some point in the past year, I've finally stopped this way of thinking.
    </p>

    <div class="small-break"></div>
    
    <p class='paragraph-text'>
        If I could redo any part of my life, I wouldn't change a single thing.
        Why, you might ask? Because every choice I made in life - the good, the bad,
        and the ones that I still cringe about to this day - has led me to finding you. 
        I wouldn't risk that for anything in the world.
    </p>

    <div class="small-break"></div>

    <div class='center dark fade-in'>
        <div *ngFor='let image of images'>
            <div class="grid-item">
                <img [src]='image.image' [alt]="image.title" style="width:100%;height:100%">
            </div>
        </div>
    </div>

    <div class="small-break"></div>
    
    <p class='paragraph-text center'>
        I really love you. 
    </p>
    
    <div class='medium-break'></div>
    
</div>

<nicole2></nicole2>

<div class='medium-break'></div>