


<div class="medium-break"></div>

<div class="flex-container light fade-in outer-container">

</div>
<!--div *ngFor="let project of projects">
    <div class="flex-container dark fade-in outer-container">
        <div class="gallery">
            <div class="aspect-ratio">
                <img *ngIf="project.demos[project.view].type == 'image'"
                    class='project-img' [src]="project.demos[project.view].src">
                <iframe *ngIf="project.demos[project.view].type == 'video'" class="project-video"
                    [src]="project.demos[project.view].src" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="left-right-buttons">
                <div class="left-button" (click)="viewPrev(project)">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </div>
                <div class="right-button" (click)="viewNext(project)">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </div>
        <div class="description">
            <div>
                <div class="title-text">{{project.title}}</div>
                <hr class='line-break-light'/>
                <p class="paragraph-text">
                    {{project.description}}
                </p>
            </div> 
        </div>
    </div>
    <div class="medium-break"></div>
</div>

<div class="large-break"></div>

<
<div margin-left='10px'>
    <button class='btn btn-success'>
        Hello2
    </button>
</div>
<div class='card'>
    

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
      </div>
    
</div>
-->