


<div class="medium-break"></div>


<div class='flex-container vertical p-h-5 m-h-5'>
    <div class='medium-break'></div>
    <div class="title-text">Research Projects</div>
    <hr class='line-break-light'/>
    <div class="grid-item">
        <div class="description m-t-10">
            <div class="title-text project">Sage ACSV</div>
            <hr class='line-break-light'/>
            <p class="paragraph-text project">
                An open-source computer algebra package for computing asymptotic terms of rational generating functions. Built using SageMath.
                This work was done as part of a co-authored research project by Benjamin Hackl, Andrew Luo (myself), Stephen Melczer, Jesse Selover, and Elaine Wong.
                My part was sponsored by the NSERC undergraduate student research program in 2022.
            </p>
            <div class="small-break"></div>
            <div class="flex-container horizontal even-spacing">
                <a target="_blank" rel="noopener noreferrer" href="https://pypi.org/project/sage-acsv/">
                    <div class="flex-container vertical paragraph-text project">
                        <img src="./assets/images/pypi.png">
                        Link to PyPi
                    </div>
                </a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/ACSVMath/sage_acsv/">
                    <div class="flex-container vertical paragraph-text project">
                        <img src="./assets/images/github.png" style="width: 77.25px; height: 77.25px; align-self: center;">
                        Link to GitHub
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="medium-break"></div>

<div class='flex-container vertical p-h-5 m-h-5'>
    <div class="title-text">Presentations</div>
    <hr class='line-break-light'/>
    <div class="grid-item">
        <div class="description m-t-10">
            <div class="title-text project">A Brief Introduction to Computational Analytic Combinatorics</div>
            <hr class='line-break-light'/>
            <p class="paragraph-text project">
                University of Waterloo, Undergraduate Student Research Seminar. August 11, 2022.
            </p>
            <ul class="flex-container vertical fit">
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="/assets/pdfs/co-slides.pdf">
                        <div class="flex-container vertical paragraph-text project">
                            Link to Slides
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="/assets/pdfs/co-demo.pdf">
                        <div class="flex-container vertical paragraph-text project">
                            Link to Demo
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="small-break"></div>

    <div class="grid-item">
        <div class="description m-t-10">
            <div class="title-text project">Derangements, The Exponential Function, and The Principle of Inclusion Exclusion</div>
            <hr class='line-break-light'/>
            <p class="paragraph-text project">
                Fleetwood Park Secondary Math Club. December 7, 2021.
            </p>
            <ul class="flex-container vertical fit">
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="/assets/pdfs/pie-slides.pdf">
                        <div class="flex-container vertical paragraph-text project">
                            Link to Slides
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="small-break"></div>

    <div class="grid-item">
        <div class="description m-t-10">
            <div class="title-text project">An Introduction to Vinogradov's Mean Value Theorem</div>
            <hr class='line-break-light'/>
            <p class="paragraph-text project">
                Western University, Canadian Undergraduate Mathematics Conference. 2021.
            </p>
            <ul class="flex-container vertical fit">
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="/assets/pdfs/vinogradov-mvt.pdf">
                        <div class="flex-container vertical paragraph-text project">
                            Link to Slides
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1Vq5rpR1qHVkRQ4p4AGS7e3XTEEhzH7V5/view">
                        <div class="flex-container vertical paragraph-text project">
                            Link to Recording
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="medium-break"></div>

<div class='flex-container vertical p-h-5 m-h-5'>
    <div class="title-text">Programming Projects</div>
    <hr class='line-break-light'/>

    <div class='grid-container fade-in'>
        <div *ngFor="let project of projects" style="height:90%">
            <div class="grid-item">
                <div class="description">
                    <div>
                        <div class="title-text project">{{project.title}}</div>
                        <hr class='line-break-light'/>
                        <p class="paragraph-text project">
                            {{project.description}}
                        </p>
                    </div> 
                </div>
                <div class="aspect-ratio">
                    <img *ngIf="project.demos[project.view].type == 'image'"
                        class='project-img' [src]="project.demos[project.view].src">
                    <iframe *ngIf="project.demos[project.view].type == 'video'" class="project-video"
                        [src]="project.demos[project.view].src" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="medium-break"></div>
        </div>
    </div>
<div class='small-break'></div>
</div>

<div class="flex-container grid">
    
</div>


<div class="large-break"></div>

<!--
<div margin-left='10px'>
    <button class='btn btn-success'>
        Hello2
    </button>
</div>
<div class='card'>
    

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
      </div>
    
</div>
-->