.large-break {
    height: 120px;
}

.medium-break {
    height: 50px;
}

.small-break {
    height: 20px;
}

.p-h-5 {
    padding-left: 5%;
    padding-right: 5%;
}
.p-h-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.center {
    display: flex;
    justify-content: center;
}

.title-text {
    font-size: 50px;
    font-family:"Impact";
    color: white;
    height: fit-content;
    line-height: 50px;
}


.light {
    background-color: rgb(102, 151, 216);
    border-color: rgb(102, 151, 216);
}

.dark {
    background-color:#4473cc;
    border-color: #4473cc;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    border-width: large;
}

.flex-container.horizontal {
    flex-direction: row;
}

.flex-container.vertical {
    flex-direction: column;
}

.paragraph-text {
    font-size: 24px;
    font-family: "Calibri";
    color: white;
    height: fit-content;
    line-height: 32px;
    text-align: justify;
    text-justify: inter-word;
}

@media(max-width:720px){
    .paragraph-text {
        font-size: 16px;
        line-height: 24px;
    }

    .title-text {
        font-size: 32px;
        line-height: 32px;
    }
  }