.large-break {
    height: 120px;
}

.medium-break {
    height: 50px;
}

.small-break {
    height: 20px;
}

.p-h-5 {
    padding-left: 5%;
    padding-right: 5%;
}
.p-h-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.center {
    display: flex;
    justify-content: center;
}

.title-text {
    font-size: 300%;
    font-family:"math";
    color: rgb(0, 0, 0);
    height: fit-content;
    line-height: 100%;
}

.subtitle-text {
    font-size: 200%;
    font-family:"math";
    color: rgb(0, 0, 0);
    height: fit-content;
    line-height: 100%;
}


.light {
    background-color: #eeeeee;
    border-color: #dddddd;
}

.dark {
    background-color:#c5becc;
    border-color: #4663ac;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    border-width: large;
}

.flex-container.horizontal {
    flex-direction: row;
}

.flex-container.vertical {
    flex-direction: column;
}

.flex-container.split {
    justify-content: space-between;
}

.paragraph-text {
    font-size: 150%;
    font-family: "math";
    color: black;
    height: fit-content;
    line-height: 32px;
    text-align: justify;
    text-justify: inter-word;
}

@media(max-width:720px){
    .paragraph-text {
        font-size: 100%;
        line-height: 24px;
    }

    .title-text {
        font-size: 200%;
        line-height: 32px;
    }

    .subtitle-text {
        font-size: 150%;
    }
}

.ignore-others {
z-index: 999;
position: fixed;
}