.large-break {
    height: 120px;
}

.medium-break {
    height: 50px;
}

.small-break {
    height: 20px;
}

.p-h-5 {
    padding-left: 5%;
    padding-right: 5%;
}
.p-h-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.m-h-5 {
    margin-left: 5%;
    margin-right: 5%;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-5 {
    margin-top: 15px;
}

.center {
    display: flex;
    justify-content: center;
}



.title-text {
    font-size: 300%;
    font-family:"math";
    color: rgb(0, 0, 0);
    height: fit-content;
    line-height: 100%;
}

.subtitle-text {
    font-size: 200%;
    font-family:"math";
    color: rgb(0, 0, 0);
    height: fit-content;
    line-height: 100%;
}


.light {
    background-color: #eeeeee;
    border-color: #dddddd;
}

.dark {
    background-color:#c5becc;
    border-color: #4663ac;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    border-width: large;
}

.flex-container.horizontal {
    flex-direction: row;
}

.flex-container.vertical {
    flex-direction: column;
}

.flex-container.split {
    justify-content: space-between;
}

.flex-container.even-spacing {
    justify-content: space-around;
}

.flex-container.center {
    justify-content: center;
}

.paragraph-text {
    font-size: 150%;
    font-family: "math";
    color: black;
    height: fit-content;
    line-height: 32px;
    text-align: justify;
    text-justify: inter-word;
}

@media(max-width:720px){
    .paragraph-text {
        font-size: 100%;
        line-height: 20px;
    }

    .title-text {
        font-size: 180%;
        line-height: 32px;
    }

    .subtitle-text {
        font-size: 125%;
    }
}

.ignore-others {
z-index: 999;
position: fixed;
}


/* Page container (full-screen sections) */
.page-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
  }
  
  /* Each page (full-screen height) */
  .page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    scroll-snap-align: start;
  }
  
  /* Pagination Bubbles */
  .pagination {
    position: fixed;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .pagination span {
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .pagination .active {
    background: white;
  }