@import '../shared/styles.css';

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(6, 1fr); 
    justify-content: center !important;
    align-items: center !important;


    padding-top: 30px;
    padding-bottom: 30px;

    grid-row-gap: 100px;
    
}

@media(max-width:1440px){
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}