@import './shared/styles.css';

.nav-link {
  font-size: large;
}

/* topnav */

@media(max-width:540px){
  .nav-pills {
      visibility: hidden;
  }
}

.top-nav {
  position:fixed;
  width: 100%;
  z-index: 99;
  transform: translate(0px, 0px);
  box-shadow:  0.125rem 0.25rem 0 rgba(0,0,0,0.11)
}

.dropdown-img {
  align-self: center;
  margin-top: 18px;
  opacity: 50%;
}

.dropdown-img:hover {
  background-color: rgba(255, 255, 255, 0.123);
  cursor: pointer;
}

.navbar {
  max-height: 74px;
  top: -100%;
  padding-left: 10px;
  padding-right: 10px;
}

.topnav-button {
  margin-right: 5px;
  font-size: 20px;
  width: 100%;
  height: 36px;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.topnav-button:hover {
  background-color: rgba(255, 255, 255, 0.329);
}

.topnav-button:focus {
  border: none;
  outline: none;
}

/* sidenav settings */
.mat-drawer-container {
  display: contents;
}

.outer-page-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translate(0, 70px);
}

.sidenav {
  background-color:#8b8b8b;
  width: max-content;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-content {
  min-height: 100%;
  display: contents;
}

.mat-drawer-inner-container {
  height: 20px;
}

.sidenav-container {
  overflow: hidden !important;
  min-height: 100%;
}

.sidenav-button {
  margin-left: 2px;
  margin-right: 3px;
  margin-top: 5px;
  font-size: 24px;
  width: 98%;
  height: 36px;
  border: none;
  background-color: transparent;
  color: white;
}

.sidenav-back-button {
  height: 64px;
}

.sidenav-button:hover {
  background-color: rgb(102, 151, 216);
}

.sidenav-button:focus {
  border: none;
  outline: none;
}

.sidenav-buttons {
  display: flex;
  flex-direction: column;
}


/* Vertical alignment of buttons */

.btn-group {
  border: 1px solid white;
  cursor: pointer; 
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.navbar {
  background-color: #c5becc;
  box-shadow:  0rem 0.1rem 0 rgba(0,0,0,0.11)
}

.navbar-brand {
  color: pink;
}

.turnip-img:hover {
  background-color: rgba(255, 255, 255, 0.123);
  cursor: pointer;
}

.nav-link {
  color: white;
}

.outer-container {
  background-color:#ffffff;
  min-height: 100%;
}

.page-container {
  background-color: transparent;
}

.media {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.media-icons {
  justify-content: space-evenly;
}

.line {
  width: 50%;
  border-top: 3px solid;
  border-radius: 1%;
}