<!--The content below is only a placeholder and can be replaced.-->
  <nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>Turnip</a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' [routerLink]="['/home']">Home</a></li>
      <li><a class='nav-link' [routerLink]="['/projects']">Projects</a></li>
      <li><a class='nav-link' [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </nav>

  <div class='page-container'>
    <router-outlet></router-outlet>
  </div>