@import './shared/styles.css';

.nav-link {
  font-size: large;
}

/* topnav */

@media(max-width:540px){
  .nav-pills {
      visibility: hidden;
  }
}

.top-nav {
  position:fixed;
  width: 100%;
  z-index: 99;
}

.dropdown-img {
  align-self: center;
  margin-top: 18px;
  opacity: 50%;
}

.dropdown-img:hover {
  background-color: rgba(255, 255, 255, 0.123);
  cursor: pointer;
}

.navbar {
  max-height: 74px;
  top: -100%;
}

.topnav-button {
  margin-right: 5px;
  font-size: 20px;
  width: 100%;
  height: 36px;
  border: none;
  background-color: transparent;
  color: white;
}

.topnav-button:hover {
  background-color: rgba(255, 255, 255, 0.329);
}

.topnav-button:focus {
  border: none;
  outline: none;
}

/* sidenav settings */
.mat-drawer-container {
  display: contents;
}

.outer-page-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.sidenav {
  background-color:#4663ac;
  width: max-content;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-content {
  min-height: 100%;
  display: contents;
}

.mat-drawer-inner-container {
  height: 20px;
}

.sidenav-container {
  overflow: hidden !important;
  min-height: 100%;
}

.sidenav-button {
  margin-left: 2px;
  margin-right: 3px;
  margin-top: 5px;
  font-size: 24px;
  width: 98%;
  height: 36px;
  border: none;
  background-color: transparent;
  color: white;
}

.sidenav-back-button {
  height: 64px;
}

.sidenav-button:hover {
  background-color: rgb(102, 151, 216);
}

.sidenav-button:focus {
  border: none;
  outline: none;
}

.sidenav-buttons {
  display: flex;
  flex-direction: column;
}


/* Vertical alignment of buttons */

.btn-group {
  border: 1px solid white;
  cursor: pointer; 
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.navbar {
  background-color: #4663ac;
}

.navbar-brand {
  color: pink;
}

.turnip-img:hover {
  background-color: rgba(255, 255, 255, 0.123);
  cursor: pointer;
}

.nav-link {
  color: white;
}

.outer-container {
  background-color:rgb(149, 183, 228);
  min-height: 100%;
}

.page-container {
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
}

