<!--The content below is only a placeholder and can be replaced.-->
  <nav class='navbar fixed-top'>
    <a class='navbar-brand'><img src='./assets/images/turnip-icon.png' width="48px" [routerLink]="['/home']"></a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' [routerLink]="['/home']" >Home</a></li>
      <li><a class='nav-link' [routerLink]="['/projects']">Projects</a></li>
      <li><a class='nav-link' [routerLink]="['/academics']">Academics</a></li>
      <li><a class='nav-link' [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </nav>
<div class='outer-container'>
  <div class='page-container'>
    <router-outlet></router-outlet>
  </div>
</div>
<!--Links to media-->
<div class="flex-container vertical light">
  <div class="small-break"></div>
  <div class="flex-container horizontal light">
    <input type="image" src="./assets/images/linkedin.png" onclick="window.open('https\://www.linkedin.com/in/andrew314/')"/>
    <input type="image" src="./assets/images/github.png" onclick="window.open('https\://github.com/turnip314')"/>
    <input type="image" src="./assets/images/facebook.png" onclick="window.open('https\://www.facebook.com/turnip314/')"/>
  </div>
  <div class="small-break"></div>
</div>