.nav-link {
  font-size: large;
}

/* sidenav settings */
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

/* Vertical alignment of buttons */

.btn-group {
  border: 1px solid white;
  cursor: pointer; 
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.navbar {
  background-color: rgb(198, 0, 120);
}

.navbar-brand {
  color: purple;
}

.nav-link {
  color: purple;
}

.outer-container {
  background-color:rgb(255, 190, 239);
}

.page-container {
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
}

