<div class="text-center">
    <div style="height: 50px;"></div>
    <h1>
        This page is under construction!
    </h1>
    <h3>
        Please check back later.
    </h3>
    <div style="height: 20px;"></div>
    <button class="btn btn-warning" [routerLink]="['/home']">
        Go Back!
    </button>

    <div style="height: 30px;"></div>

    <div class="text-center">
        <img src="./assets/images/construction-turnip.png"
             class="img-responsive center-block"
             style="height:300px;padding-bottom:50px" />
    </div>
</div>
