
.horizontal-flex-container-light {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5d4bc2;
    border: solid;
    border-width: large;
    border-color: #5d4bc2;
}

.horizontal-flex-container-dark {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5241b1;
    border: solid;
    border-width: large;
    border-color: #5241b1;
}

.vertical-flex-container-light {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #5d4bc2;
    border: solid;
    border-width: large;
    border-color: #5d4bc2;
}

.vertical-flex-container-dark {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#5241b1;
    border: solid;
    border-width: large;
    border-color: #5241b1;
}

.large-break {
    height: 120px;
}

.medium-break {
    height: 50px;
}

.small-break {
    height: 20px;
}

.title-text {
    font-size: 50px;
    font-family:"Impact";
    color: white;
    height: fit-content;
    line-height: 50px;
}

.intro-text {
    font-size: 24px;
    font-family: "Calibri";
    color: white;
    height: fit-content;
    line-height: 24px;
}

.paragraph-text {
    font-size: 24px;
    font-family: "Calibri";
    color: white;
    height: fit-content;
    line-height: 32px;
    text-align: justify;
    text-justify: inter-word;
}

hr.line-break-light {
    border-top: 10px;
    color: #5d4bc2;
}

/* Red border */
hr.line-break-light {
    border-top: 1px solid white;
}

/* Hyperlink shouldn't change colour */
a { 
    color: inherit; 
} 

.text-region {
    margin-left: 5%;
    margin-right: 5%
}