

<div class='medium-break'></div>

<div class="vertical-flex-container-dark">
  <!--Intro -->
  <div class="container-fluid">
    <div class='small-break'></div>
    <div class="text-center">
      <div class='title-text'>Hello! My name is Andrew Luo.</div>
    </div>
    <div class='small-break'></div>
  </div>

  <!--Image Slider -->
  <div class="container-fluid">
    <ng-image-slider 
        [images]="imageObject" 
        [imageSize]="imageSize"
    
    #nav>
    </ng-image-slider>

    <!--Intro Continued-->
  <div class="container-fluid">
    <div class='small-break'></div>
    <div class='text-center'>
      <p class='intro-text'>
        I'm a Computer Science and Pure Mathematics student at the <a target="_blank" rel="noopener noreferrer" href='https://uwaterloo.ca/'>University of Waterloo</a>.
      </p>
      <p class='intro-text'>
        In my spare time, I enjoy playing boardgames, playing video games, working out, or listening to music.
      </p>
    </div>
    <div class='small-break'></div>
  </div>
</div>

<div class="vertical-flex-container-light">
  <div class="small-break"></div>
  <div class="horizontal-flex-container-light">
    <input type="image" src="./assets/images/linkedin.png" onclick="window.open('https\://www.linkedin.com/in/andrew314/')"/>
    <input type="image" src="./assets/images/github.png" onclick="window.open('https\://github.com/turnip314')"/>
    <input type="image" src="./assets/images/facebook.png" onclick="window.open('https://www.facebook.com/turnip314/')"/>
  </div>
  <div class="small-break"></div>
</div>


