<div class="card">
    <div class="card-header">
      Welcome!
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/me-and-vincent.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Andrew Luo</div>
        <div class="text-center">
          <h3>University of Waterloo</h3>
        </div>
  
        <div class="text-center">Bachelor of Computer Science | Bachelor of Pure Math</div>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/andrew314/">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>


<div margin-left='10px'  text-align='center' *ngIf='false'>
    <button class='btn btn-success'>
        Hello2
    </button>
</div>

<div class='card'>
    

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Button</button>
        <button type="button" class="btn btn-secondary">Button</button>
        <button type="button" class="btn btn-secondary">Button</button>
      </div>
    
</div>